body{
    margin: 0;
    background-color: rgb(252, 252, 252);
}
.first{
    width: 100%;
    height: 340px;
    background-image: linear-gradient(to right, red , yellow);

}
.header_text{
    font-size: 20px;
    font-family: sans-serif;
    color: white;
    padding-left: 30px;
    padding-top: 15px;
}
.box{
    width: 100%;
    padding-top: 20px;
    padding-left: 20px;
}
.sub_box{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 230px;
    height: 260px;
    background-color: white;
    border-radius: 15px;
}