body{
    margin: 0;
    background-color: rgb(243, 152, 35);
    padding-top: 50px;
}
.main{
    width: 35%;
    height: 100%;
    background-color: rgb(220, 184, 52);
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}
#logo{
    width: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
hr{
    width: 80%;
    border: 1px solid black;
}
.sub_main{
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#header_text{
    font-size: 25px;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
}
.text{
    font-family: sans-serif;
    padding: 3px;
}
.input{
    width: 100%;
    height: 30px;
    border: none;
    border-radius: 10px;
    text-align: center;
}
.checkbox{
    font-family: sans-serif;
}
a{
    text-decoration: none;
    font-weight: bold;
    color: red;
}
#submit{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    background-color: blue;
    width: 30%;
    height: 35px;
    border: none;
    font-size: 20px;
    font-family: sans-serif;
    color: white;
    font-weight: bold;
    cursor: pointer;
}